@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	font-family: 'oPEN Sans', sans-serif;
	background: #E3FEF7;
}
.wrapper{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}
.wrapper .cencel_btn{
	background: #003c43;
	border: 0;
	padding: 20px;
	color: #fff;
	font-size: 16px;
	border-radius: 10px;
	cursor: pointer;
}
.wrapper .cencel_btn{
	background: #082F33;
}
.model_popup{
	position: relative;
	display: none;
}
.model_popup .bg_shadow{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.9);
}
.model_popup .popup{
	background: #fff;
	z-index: 1;
	width: 500px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.model_popup .popup .popup_head{
	padding: 20px;
	padding-bottom: 0;
	font-weight: 600;
	position: relative;
	font-size: 16px;
}
.model_popup .popup .popup_body{
	padding: 20px;
	min-height: 180px;
	font-size: 14px;
	line-height: 22px;
}
.model_popup .popup .popup_foot {
   display: flex;
}
.model_popup .popup .popup_foot .popup_btn{
	width: 50%;
	border: 0;
	padding: 20px;
	cursor: pointer;
}
.model_popup .popup .popup_foot .popup_cencel_btn{
	background: #003c43;
	color: #fff;
}
.model_popup .popup .popup_foot .popup_cencel_btn:hover{
	background: #0a373c;
}
.model_popup .popup .popup_foot .popup_confirm_btn{
	background: #000;
	color: #fff;
}
.model_popup .popup .popup_foot .popup_confirm_btn:hover{
	background: #171717;
}
.model_popup.active{
	display: block;
}